@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply hidden h-6 md:inline-flex cursor-pointer
    hover:scale-125 transition-all duration-150 ease-out;
  }

  .btn {
    @apply h-7 hover:scale-125 cursor-pointer transition-all duration-150 ease-out;
  }

  .flex-center {
    @apply flex justify-center items-center
  }
  .flex-center {
    @apply flex justify-center items-center
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center
  }
  .flex-between {
    @apply flex items-center justify-between
  }
  .flex-items {
    @apply flex items-center
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
